.idea
build/
__pycache__
llvm-jit-static.*
sourcemap*
snapshot-*
mlir-c-module.cpp
c-backend.so
perf.*
.vscode
venv
.cache
resources/data/laion
tmpvenv
tools/python/bridge/lingodb_llvm-0.0.*
benchmark/milvus/db
resources/data/tmp
benchmark/results
benchmark/mlir
benchmark/groundtruth
benchmark/results*
benchmark/analyse
perf_results
figs